<!DOCTYPE html>
<html>

<head>
	<title>Swiss Wutan's Unique Centralized Calendar Everyone Ever Wished We Had But Never Dared to Ask For</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="vue_inject.js"></script>
	<script async defer src="https://apis.google.com/js/api.js"></script>
</head>

<body>
	<div id="app">
		<div class='authentification'>
			<h2>Back office</h2>
			Authentification
			<button v-if='!authorized' @click="handleAuthClick">Sign In</button>
			<button v-if='authorized' @click="handleSignoutClick">Sign Out</button>
		</div>
		<hr>
		<div>
			<h3>Scheduled events</h3>{{ events }}
			<h3>Proposed events</h3>{{ proposedEvents }}
			<button v-if='authorized' @click="validateEvents">Validate proposed events</button>
		</div>
		<br />
		<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23D50000&amp;ctz=Europe%2FZurich&amp;src=M21vMGE2MzlxZmhzOXRqYzFpZG11NGtrdXNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D50000&amp;mode=AGENDA&amp;showTz=0&amp;showCalendars=0&amp;showTabs=1&amp;showPrint=0&amp;showDate=1&amp;showNav=1&amp;showTitle=1&amp;title=Swiss%20Wutan%20All%20Schools%20Agenda" style="border-width:0" width="793" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</body>

</html>